.link-item {
  text-decoration: none;
}
.course-item-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 200px;
  margin-right: 30px;
  margin-bottom: 30px;
  cursor: pointer;
}

.image-element {
  width: 60px;
}

.course-name {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  color: #1e293b;
}
