.home-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px;
}

.courses-heading {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 28px;
  font-weight: 500;
}

.home-tech-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
}

.tech-items-container {
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
}

.failure-view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.failure-image-element {
}

.failure-heading {
  font-family: 'Roboto';
  color: #475569;
}

.failure-description {
  font-family: 'Roboto';
  color: #64748b;
}

.retry-btn {
  background-color: #4656a1;
  font-family: 'Roboto';
  color: #ffffff;
  border-radius: 6px;
  padding-left: 10px;
  padding-right: 10px;
  padding: 10px;
  width: 80px;
  border-width: 0px;
  font-weight: 500;
  cursor: pointer;
}

.loader-container {
}
